.comment{
  width: 100%;
  border: solid 1px black;
  outline: none;
}
.name {
  border: solid 1px black;
  width: 100%;
  outline: none;
}

.users{
 display: flex;
}

.buttons {
  float: right;
}
.buttons button{
  text-decoration:underline;
  color:cornflowerblue;
  border-bottom: none;
  border-top:none;
  font-size: 15px;
  cursor: pointer;


}
.buttons button:focus {
  outline: none;
}
.buttons button:hover {
  color: purple;
}
#one{
  border-right: none;
  border-left: solid 1px cornflowerblue;
}
#two{
  border-left: none ;
  border-right: solid 1px cornflowerblue ;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  font-size: 17px;
  font-weight: 500;
  color: black;
  background-color: lightgrey;
  display: inline-block;
  border: solid 1px black;
  border-radius: 5px;
  text-align: center;
  width: 80px;

}

.inputfile:focus + label,
.inputfile + label:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.inputfile + label {
  cursor: pointer;
}
.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
  outline: none;
}
.upload {
  color: grey;
}

.submitcom button{

  font-size: 500;
  font-size: 17px;
  background-color: lightgrey;
  border-radius: 5px;
  border: solid 1px black;
  width: 110px;
  float: right;

}

.replyer {
  text-decoration:underline;
  color:cornflowerblue;
  border: none;
  font-size: 15px;
  cursor: pointer;

}
.replyer:focus{
  outline: none;
}
.usersReply {
  padding-left: 25%;
}
.usersReply textarea{
  width: 100% ;
}
.usersReply button{

  font-size: 500;
  font-size: 17px;
  background-color: lightgrey;
  border-radius: 5px;
  border: solid 1px black;
  width: 110px;
  float: right;
}
#ones{
  border-right: none;
  border-left: solid 1px cornflowerblue;

}
#twos{
  border-left: none ;
  border-right: solid 1px cornflowerblue ;

}
#comentary {
padding-left: 10%;
}
.widget{
  width: 350%;
}
.widget:focus{
  outline: none;
}
